swagger: "2.0"
info:
  description: "Api Cyclo"
  version: "1.0.0"
  title: "Api Cyclo"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "garnierpascalweb@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "garnierpascalweb.fr"
basePath: "/api/v1"
tags:
- name: "activities"
  description: "Everything about my cycling activities"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /activities/findByYear/{year}:
    get:
      tags:
      - "activities"
      summary: "Finds Activities by year"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "findActivitiesByYear"
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year of activities to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Pet"
        400:
          description: "Invalid year value"
  
definitions:
  Activity:
    type: "object"
    required:
    - "id"
    - "jour"
    - "date"
    - "dst"
    - "rt"
    - "avg"
    - "pulsmoy"
    - "parcours"
    - "egide"
    - "participants"
    - "place"
    - "lieu"
    - "vainqueur"
    properties:
      id:
        type: "integer"
        format: "int64"
      jour:
        type: "string"
        description: "Day of activity"
        example: "Lun"
        enum:
        - "Lun"
        - "Mar"
        - "Mer"
        - "Jeu"
        - "Ven"
        - "Sam"
        - "Dim"
      date:
        type: "string"
        description: "Date of activity"
        example: "2014-05-15"
      dst:
        type: "number"
        description: "Kms of activity"
        example: "116.2"
      rt:
        type: "string"
        description: "Time of activity format hh:mm:ss"
        example: "1:57:58"
      avg:
        type: "number"
        description: "Average speed of activity"
        example: "44.2"
      pulsmoy:
        type: "integer"
        description: "Heart rate average"
        example: "151"
      parcours:
        type: "string"
        description: "Roads or Race denomination"
        example: "Nissa La Bella Monaco Beuil"
      participants:
        type: "number"
        description: "For races only - Starters"
        example: "107"
      position:
        type: "integer"
        description: "For races only - Final ranking"
        example: "1"
      lieu:
        type: "string"
        description: "For races only - Place for the race"
        example: "Carces"
      vainqueur:
        type: "string"
        description: "For races only - Winner of the race"
        example: "Pascal Garnier (Carros Team Cycliste)"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"